body {
    background-image: url("https://picsum.photos/1200");
    background-position: center;
    background-size: cover;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form label {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    filter: drop-shadow(0 0 .25rem #33333355);
}

.form input {
    color: white;
    font-size: 1.2rem;
    padding: .25rem;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition-duration: .5s;
}

.form input:focus,
.form input:not(:placeholder-shown) {
    border-bottom: 2px solid white;
}

.form input:not(:placeholder-shown) + button {
    transform: scaleY(1);
}

.form button {
    color: white;
    transition-duration: .5s;
    padding: .25rem;
    background-color: transparent;
    transform: scaleY(0);
}

.form button:hover {
    background-color: #dddddd55;
}

#greeting-container {
    text-align: center;
    color: white;
}

#greeting {
    filter: drop-shadow(0 0 .25rem #33333355);
}

#clock {
    font-size: 5rem;
    font-weight: bold;
    user-select: none;
    filter: drop-shadow(0 0 1rem #33333355);
}