body {
    background-image: url("https://picsum.photos/1200");
    background-position: center;
    background-size: cover;
    accent-color: antiquewhite;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form label {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    filter: drop-shadow(0 0 .25rem #33333355);
}

.form input {
    color: white;
    font-size: 1.2rem;
    padding: .25rem;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition-duration: .5s;
}

.form input:focus,
.form input:not(:placeholder-shown) {
    border-bottom: 2px solid white;
}

.form input:not(:placeholder-shown) + button {
    transform: scaleY(1);
}

.form button {
    color: white;
    transition-duration: .5s;
    padding: .25rem;
    background-color: transparent;
    transform: scaleY(0);
}

.form button:hover {
    background-color: #dddddd55;
}

#greeting-container {
    position: relative;
    text-align: center;
    color: white;
}

#greeting {
    filter: drop-shadow(0 0 .25rem #33333355);
}

#clock {
    font-size: 5rem;
    font-weight: bold;
    user-select: none;
    filter: drop-shadow(0 0 1rem #33333355);
}

#focus-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#focus-container h1,
#focus-container h2 {
    margin: 0;
    filter: drop-shadow(0 0 .25rem #33333355);
}

#todo-container {
    position: relative;
}

#todo-container .list {
    padding: .25rem .5rem .5rem;
    position: absolute;
    bottom: 100%;
    right: 0;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    background: #ffffff75;
    border-radius: .5rem;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);
    filter: drop-shadow(0 0 .25rem #33333355);
}

#todo-container .list h4 {
    margin: .5rem;
}

#todo-form {
    flex-direction: row;
    gap: .25rem;
}

#todo-form input {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px dashed #888;
    background-color: #ffffff55;
    color: white;
    transition-duration: .5s;
}

#todo-form input:focus {
    border-bottom-color: white;
}

#todo-list .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .125rem;
    color: #0f0f0f;
}

#todo-list .todo-item span {
    flex: 1;
    text-overflow: clip;
    word-break: break-word;
}

#todo-form button,
#todo-list .todo-item button {
    cursor: pointer;
    transition-duration: .5s;
    padding: .125rem .25rem;
    border-radius: .25rem;
}

#todo-form button:hover,
#todo-list .todo-item button:hover {
    background-color: #dddddd55;
}

#weather-container {
    display: flex;
    flex-direction: column;
}
#weather-container > div {
    display: flex;
    align-items: center;
}
#weather-icon {
    width: 2rem;
}
#weather-temp {
    flex: 1;
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
}

.btn {
    color: white;
}